<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Requests</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body>
<table class="table">
    <thead>
        <tr>
            <th> IP </th>
            <th> Request Id </th>
            <th> Agent </th>
        </tr>
    </thead>
    <tbody>
	<tr th:if="${requests.empty}">
            <td colspan="2"> No Requests available </td>
        </tr>
        <tr th:each="r : ${requests}">
            <td><span th:text="${r.ip}"> IP </span></td>
            <td><span th:text="${r.requestId}"> Request Id </span></td>
            <td><span th:text="${r.agent}"> Agent </span></td>
        </tr>
    </tbody>
</table>
</body>
</html>